.menu {
position:fixed;
right:0;
width:40px;
height:100%;
background-color: #333;
top:0;
text-align: center;
}

.menuBtn {
	padding:10px;
	color:white;
	background:none;
	border:none;
	font-size:20px;
	cursor:pointer;
}
.menuBtn:hover {
	color:#aaf;
}

#menuExpander {
	padding:10px;
	color:white;
	background:none;
	border:none;
	font-size:20px;
	cursor:pointer;
}
#menuExpander:hover {
	color: #aaf;
}
.menuText {
	display:none;
	opacity: 0;
	font-family: 'Quicksand', sans-serif;
	cursor:pointer;
}
.deconnexionText:hover {
	color:#faa;
}
.signUpText:hover {
	color:#afa;
}