@media (max-width: 991px) {
	#sidebar {
		display:none;
	}
}

#sidebar {
	background: rgba(80, 80, 80, 0.1);
	padding:0;
	position: fixed;
	top: 52px;
	right: 0;
	width: 200px;
	height: 100%;
	list-style-type: none;
	text-align: center;
	font-size: 15px;
    transition: ease-in-out, width .35s ease-in-out;
}

#sidebar+.lost-connexion {
	background: rgba(80, 80, 80, 0.4);
}

.user-online-box {
	margin-bottom:4px;

	width:100%;
	height:30px;
	line-height: 30px;
}

.user-online-box:hover {
	background: rgba(80, 80, 80, 0.2);
	cursor:pointer;
}

.user-online-links {
	margin-left: 5px;
	display:none;
}

.sidebar a:hover {
	text-decoration: none;
}

.popup-box
         	{
                display: none;
                position: fixed;
                bottom: 0px;
                right: 220px;
                height: 285px;
                background-color: rgb(237, 239, 244);
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }