@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
	background-color: #fefefe;
	color:#333;
	font-family: 'Quicksand', sans-serif;
}

.chapitre-menu {
	font-size: 15px;
}

.user-infos {
	background-color: #e44;
	height:25%;
	
}

span#siteTitle {
	color:white;
}
.centerDiv {
	text-align: center;
	display: inline-block;
	width:70%;
	overflow:wrap;
}
.content {
position:fixed;
top:40px;
left:0;
width:100%;
height:100%;
padding: 15px;
overflow: scroll;
}
#matiereMenuContainer {
	padding:0;
}
.matiereIcon {
	background-color: #66f; /* d66 */
	font-size: 15px;
	margin-left:5px;
	margin-bottom:5px;
	padding:5px;
	padding-left:10px;
	margin-right:5px;
	border-radius: 1px; /* yo la */
	list-style-type:none;
	border-radius:5px;
}
.matiereIcon:hover {
	background-color:#99f;
	cursor:pointer;
}

.navBar {
	position:fixed;
	top:0;
	left:0;
	background-color: #335;
	width:100%;
	height:40px;
	line-height:40px;
}
img#logo {
	height:30px;
	width:30px;
	position:fixed;
	top:5px;
	left:5px;
}
input#searchField {
	width:200px;
	margin-left: 50px;
	border-radius: 1px;
	border:none;
	padding:5px;
}

.left {
	background-color: #fefefe;
	position:fixed;
	top:40px;
	left:0;
	width:20%;
	height:100%;
}
.left .top {
	position:relative;
	height: 40%;
	border-bottom: 3px solid #777;
	text-align: center;	
}

.center {
	background-color: #ccf;
	position:fixed;
	top:40px;
	left:20%;
	width: 50%;
	height:100%;
	border-left: 3px solid #777;
}

table.calendarLargeSize {
	display: inline-block;
}

table.calendarLargeSize td {
	background-color: #ccc;
	width:100px;
	height:25px;
	margin-bottom: 2px;
}
#infoBulle {
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 5px;
	position:absolute;
	top:60px;
	left:120px;
	display: none;
	padding: 5px;
}
h2 {
	text-align: center;
	font-size: 20px;
}
.right {
	background-color: #ddd;
	position:fixed;
	top:40px;
	left:70%;
	height:100%;
	width:30%;
	border-left: 3px solid #777;
}
#rechercher {
	padding:2px;
	height:20px;
	width:20px;
	border:none;
	background-color: white;
	color:#444;
	border-radius: 1px;
	line-height: 12px;
	display: none;
}
#rechercher:active {
	background-color: #008;
	color:white;
}
h3 {
	font-size: 18px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-style: none;
}
.dateContainer {
	margin-left: 10%;
	margin-right: 10px;
	margin-bottom: 30px;
	display: inline-block;
}
.dateContainer > .dateNumber {
	width:90px;
	height: 70px;
	background-color: #f5f5f5;
	line-height: 70px;
	text-align: center;
	font-size: 25px;
	color:#444;
	border-left: 3px solid #444;
	border-top: 3px solid #444;
	border-right: 3px solid #444;
}
.dateContainer > .dateMois {
	width: 90px;
	height: 25px;
	background-color: #d00;
	text-align: center;
	line-height: 25px;
	color:#fff;
	border-left: 3px solid #444;
	border-bottom: 3px solid #444;
	border-right: 3px solid #444;
}
#profileInfosContainer {
	display: inline-block;
	font-size: 20px;
	line-height: 25px;
}

table#documentInfos td{
	border: 1px solid #333;
	text-align: center;
}
.justCenter {
	margin: 0% 5%;
}
#addCourseBtn {
	border: none;
	padding: 10px 20px;
	background-color: rgb(221, 102, 102);
	color: white;
	margin: 0px 20px;
	float: right;
}
#addCourseBtn:hover {
	background-color:#77a809;
}
#addCourseBtn:active {
	position:relative;
	top:1px;
}

#addArea {
	display:block;
}
.green-dot {
	background: rgb(66, 183, 42);
	border-radius: 50%;
	display: inline-block;
	height: 6px;
	width: 6px;
	margin-right: 10px;
}
.like-btn {
	color: rgba(42, 66, 183, 1);
}
.like-btn.active {
	color: rgba(10, 15, 16, 1);
}
.dislike-btn {
	color: rgba(183, 66, 42, 1);
}
.like-view {
	position:absolute;
	right:25px;
}
.gentitle{
	width: 150px;
	background-color: #337ab7;
	color: white;
}
.gentitle h2{
	padding: 8px;
}

div.gentitle-empty {
	background-color: #aaa;
}
div.gentitle-empty:hover {
	text-decoration: none;
	background-color: #7ab733;
	cursor: pointer;
}
.doc-table-view-type > a {
	text-decoration:none;
	color:white;
}

#sendDocMail{
	text-align: center;
	margin-top: 5px;
}

#btn-add-matiere {
	background-color: #7ab733;
	border-radius: 5px;
}
#btn-add-matiere a {
	color:white;
}
#btn-add-matiere:hover a {
	color:#7ab733;
}
.doc-sidebar-outer {
    position: relative;
}
@media (min-width: 768px) {
    .doc-sidebar {
        position: fixed;
    }
}
@media (max-width: 1200px) {
	.doc-sidebar {
		display: none;
	}
}

.doc-table-view-row > td {
	font-size: 20px;
}

.doc-table-view-type-nonvoid {
	background-color: #428bca;
}

.doc-table-view-type{
	font-size: 30px;
}